.Table-Wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 1px 1px 4px rgba(0, 0, 0, 0.08);
}
.Table {
  border-collapse: collapse;
}
.Table-Row {
  padding: 0px;
  margin: 0px;
}

.Table-CellWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: min-content;
  padding: 8px;
}
.Table-Cell,
.Table-Header {
  padding: 8px;
  overflow: hidden;
  text-align: left;
  border: 1px solid #dddddd;
}
.Table-Header {
  align-self: left;
}

.Table-Actions {
  padding-left: 40px;
  border: 1px solid #dddddd;
}

.Table-Action {
  display: inline !important;
  width: 100px;
  margin: 16px 8px;
}
.Table-AddWrapper {
  display: flex;
  flex-direction: column;
}

.Table-TooltipIcon {
  width: 24px;
  margin-left: auto;

  text-align: center;
  cursor: default;
  background-color: #fc9585;
  border-radius: 50px;
}

.Table-TooltipIcon .Table-Tooltip {
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 120px;
  padding: 8px;
  margin-left: 14px;
  color: black;
  text-align: center;
  visibility: hidden;
  background-color: #fc9585;
  border-radius: 6px;
}

.Table-TooltipIcon:hover .Table-Tooltip {
  visibility: visible;
}

.Table-Register {
  display: flex;
  align-items: center;
  height: 100px;
  overflow: hidden;
  border-left: 1px solid #dddddd;
  transition: 0.3s;
}

.Folded {
  height: 0px !important;
}
