.Hero-Host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #f4faff;
}
.Hero-Header {
  font-size: 64px;
  font-weight: 500;
}

.Hero-Subheader {
  margin-bottom: 20px;
  font-size: 18px;
}

.Hero-Form {
  display: flex;
}

.Hero-FormEmail,
.Hero-FormSubmit {
  height: 48px;
  padding: 8px;
  font-size: 18px;
  border-radius: 3px;
}

.Hero-FormEmail {
  box-sizing: border-box;
  width: 294.75px;
  margin-bottom: 10px;
  border: 1px solid #0069a5;
}

.Hero-FormSubmit {
  width: 178px;
  margin-left: 4px;
  color: white;
  cursor: pointer;
  background: #ff593d;
  border: none;
}

.Hero-Response {
  font-size: 18px;
  font-weight: bold;
  color: #1f7f23;
}

.Hidden {
  display: none !important;
}
