.Features-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px 45px 0px;
  margin-left: -10px;
  background-color: #f4faff;
}
.Features-Header {
  margin-top: 27px;
  text-align: center;
}
@media screen and (min-width: 801px) {
  .Features-Textboxes {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: center;
    margin-left: 10px;
    font-size: smaller;
    text-align: center;
  }
  .Features-Textbox {
    font-family: Roboto;
  }
}
@media screen and (max-width: 800px) {
  .Features-Textboxes {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    font-size: smaller;
    text-align: center;
  }
}
