.Features-Box
{
    width: 100%;
    background-color: #F4FAFF;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
}
.Features-Header
{   
    text-align: center;
}
@media screen and (min-width: 801px) {
.Features-Textboxes
    { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: smaller;
        
    }
.Features-Textbox2
{
    margin: 0px 10% 0px 10%;
}
    }
@media screen and (max-width: 800px) {
.Features-Textboxes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: smaller;
}

}