.Support-Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -10px;
}
.Support-Header {
  margin-top: 37px;
  text-align: center;
}
.Support-Text {
  align-self: center;
  width: 220px;
  font-size: 14px;
  text-align: center;
}
.Button-Box-Support {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: left -10px;
  margin-top: 30px;
}

.Support-Buttons {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  justify-content: center;
  width: 130px;
  height: 25px;
  padding: 0px;
  margin-right: -1px;
  font-size: 12px;
  line-height: 25px;
  background-color: #ff593d;
}
.Support-Icons {
  margin-top: 4px;
}
.Support-Links {
  text-decoration: none;
}
