/* stylelint-disable order/properties-order */
/* stylelint-disable prettier/prettier */
.Content-Item {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    font-weight: 500;
    font-weight: bold;
    cursor: pointer;
    background-color: inherit;
    border: none;
  }
  
  .Content-Item:hover {
    background-color: #f4faff;
    border-left: 5px solid rgba(0, 0, 0, 0.157);
    transition-duration: 0.2s;
  }
  
  .Content-Item:focus {
    background-color: #f4faff;
    border-left: 5px solid rgba(0, 0, 0, 0.157);
  }