/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --primary-color: #ff593d;
  --primary-dark-color: #e5533a;
  --background-color: #f4faff;
  --response-color: #1f7f23;
  --error-color: #f30606;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
}

.Button {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: 42px;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
}
.Button:hover {
  background-color: var(--primary-dark-color);
}
.Button a {
  color: currentColor;
}

.InputText,
.InputArea {
  box-sizing: border-box;
  display: block;
  height: 42px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #666;
  border-radius: 3px;
  outline: none;
}
.InputText:focus,
.InputArea:focus {
  border-color: var(--primary-color);
}
.InputArea {
  height: 110px;
  resize: none;
}
::placeholder {
  font-size: 16px;
  color: #999;
}

.Heading-1 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 56px;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.075em;
}
.Heading-2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: normal;
  line-height: 1em;
}
.Text-1 {
  margin-top: 0;
  font-size: 16px;
}

.Github-Button {
  position: relative;
  display: inline-flex;
  gap: 6px;
  align-items: center;
  height: 20px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #24292e;
  text-decoration: none;
  vertical-align: bottom;
  user-select: none;
  background-color: #eff3f6;
  background-image: linear-gradient(180deg, #fafbfc, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.25em;
}

.Separator {
  flex-grow: 1;
}

[hidden] {
  display: none;
}
