/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --primary-color: #ff593d;
  --background-color: #f4faff;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: inherit;
  text-transform: inherit;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
}

button,
input[type='button'],
input[type='submit'] {
  padding: 8px;
  color: white;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
  border-radius: 3px;
}

.Heading-1 {
  font-size: 64px;
}
.Heading-2 {
  font-size: 36px;
}
.Text-1 {
  font-size: 18px;
}
