@import "~highlight.js/styles/github.css";

app-highlight {
  white-space: pre;
  display: block;
  padding: 12px;
  margin-bottom: 18px;
  font-size: 13px;
  background-color: #f3f3f3;
  border-radius: 3px;
  font-family: monospace;
}

.hljs-number {
  color: #710202;
}

.hljs-attribute {
  color: #2e492e;
}
