.Upload {
  display: flex;
}

.Upload-Side {
  width: 200px;
  min-height: 842px;
  padding: 16px;
  background-color: var(--background-color);
}

.Upload-Collections {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12;
  font-weight: bold;
}

.Upload-Dots-Content {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 160px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.Upload-Dots-Content button {
  display: block;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
}

.Upload-Collection {
  display: flex;
  flex-direction: row;
  width: 212px;
  padding: 3px;
  font-size: 14;
  background-color: var(--background-color);
  border: none;
  transition-duration: 0.2s;
}

.Upload-Collection:hover {
  background-color: rgba(53, 198, 255, 0.2);
}

.Upload-Collection:focus {
  background-color: rgba(53, 198, 255, 0.2);
}

.Upload-Dots {
  margin-left: 58px;
  background: none;
  border: none;
}

.Upload-Dots :hover {
  cursor: pointer;
  background-color: rgba(53, 198, 255, 0.2);
}

.Upload-EditDots {
  position: fixed;
  left: 188px;
  visibility: hidden;
  border: none;
}

.Upload-Content {
  flex: 1;
  padding: 16px;
}
.Upload-Searchbar {
  width: 78%;
  height: 37px;
  padding-left: 10px;
  margin-left: 10px;
  border: 1px solid;
  border-radius: 3px;
}
.Upload-Categories {
  margin: 28px 0px 0px 20px;
  font-size: small;
  font-weight: bold;
}
.Upload-File-Box {
  width: 1050px;
  height: 43%;
  margin-top: 10px;
}
.Upload-Images {
  display: flex;
  flex-direction: row;
}
.Upload-Image-Text {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: -15px;
  font-size: smaller;
  list-style-type: none;
}
.Upload-Blank-Image {
  width: 80px;
  height: 80px;
  margin: 5px 0px 0px 20px;
}
.Upload-Outer-Image {
  display: inline-flex;
  flex-direction: row;
}
.Upload-Inner-Image {
  align-items: center;
  height: 20px;
  margin-top: 2px;
  margin-left: -28px;
  background-color: transparent;
  border: none;
}
.Upload-Inner-Image:hover {
  cursor: pointer;
}
.Upload-Dropdown {
  position: relative;
  height: 0px;
  width: 0px;
  overflow: hidden;
  font-size: smaller;
}
.Upload-Button-Box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.Upload-Button-1 {
  width: 153px;
  height: 42px;
  font-size: 16px;
  color: #ff593d;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #ff593d;
  border-radius: 3px;
}
.Upload-Button-1:hover {
  cursor: pointer;
  background-color: #f8f4f4;
}
.Upload-Button-2 {
  width: 170px;
  margin-right: 10px;
}
.Upload-Button-2:hover {
  background-color: var(--primary-dark-color);
}
