.Upload {
  display: flex;
}

.Upload-Side {
  width: 200px;
  min-height: 1000px;
  padding: 16px;
  background-color: var(--background-color);
}

.Upload-Collections {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12;
  font-weight: bold;
}

.Upload-Collection {
  width: 200px;
  padding: 2px;
  font-size: 14;
  background-color: var(--background-color);
}

.Upload-Collection:hover {
  width: 212px;
  padding: 2px;
  font-size: 14;
  background-color: var(--background-color);
  background-color: rgba(53, 198, 255, 0.2);
}
.Upload-Content {
  flex: 1;
  padding: 16px;
}
.Upload-Searchbar {
  width: 500px;
  height: 33px;
  padding-left: 10px;
  margin-left: 20px;
}
.Upload-Drag-Drop {
  width: 100px;
  height: 200px;
}
.Upload-Button-Box {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.Upload-Buttons {
  height: 33px;
  margin-left: 20px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 3px;
}
.Upload-Button-1 {
  width: 127px;
  margin-left: 390px;
  color: #ff593d;
  background-color: #ffffff;
  border-color: #ff593d;
}
.Upload-Button-2 {
  width: 147px;
  color: #ffffff;
  background-color: #ff593d;
  border-color: #ff593d;
}
