/*colors subject to change because I am bad at them*/

.Auth-Slot {
  width: 400px;
}
.Auth-Horizontal {
  flex-direction: row !important;
}

.Auth-Host,
.Auth-Extra,
.Auth-Form {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}
.Auth-Form .Auth-Form {
  width: 100%;
}
.Auth-Host {
  margin-top: 50px;
}
.Auth-Child {
  width: 100%;
}
.Auth-Input {
  width: 80%;
  margin: 10px 4px 10px 4px;
}

.Auth-Inverted.Auth-Inverted {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid lightgrey;
}
.Auth-Inverted.Auth-Inverted:hover {
  background-color: lightgrey;
}
.Auth-Extra {
  padding: 8px;
  margin-top: 20px;
}
.Auth-Errors {
  padding: 8px;

  font-weight: bold;
  color: var(--error-color);
  text-align: center;
}
.Auth-Link {
  text-decoration: none;
}
/* Button class breaks hidden attribute */
.Hidden {
  display: none !important;
}
