/*colors subject to change because I am bad at them*/

.Auth-Host,
.Auth-Extra,
.Auth-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Auth-Host {
  margin-top: 50px;
}
.Auth-Child {
  width: 100%;
}
.Auth-Input {
  width: 350px;
  margin: 10px 0 10px 0;
}

.Auth-Inverted.Auth-Inverted {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid lightgrey;
}
.Auth-Inverted.Auth-Inverted:hover {
  background-color: lightgrey;
}
.Auth-Extra {
  padding: 8px;
  margin-top: 20px;
}
.Auth-Errors {
  padding: 8px;

  font-weight: bold;
  color: var(--error-color);
  text-align: center;
}
.Auth-Link {
  text-decoration: none;
}

.fr-pristine {
  background-color: yellow;
}
.fr-dirty{
  background-color: #eee;
}

.fr-valid{
  border-color: #1f7f23 !important;
}
.fr-invalid{
  border-color: #e5533a !important;
}

.fr-touched{
}
.fr-untouched{
}
