.Docs-Body {
  flex-grow: 1;
  padding: 0 24px;
  font-size: 16px;
}

.Docs-Body H1 {
  margin-top: 0;
  font-size: 21px;
  font-weight: 500;
}
.Docs-Body H2 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
}
.Docs-Body P {
  margin: 0 0 18px 0;
}
.Docs-Body I {
  background-color: beige;
}
.Docs-Body B {
  font-weight: 600;
}
.Docs-Body blockquote {
  display: block;
  padding: 12px;
  margin: 0 0 18px 0;
  background-color: #eef5fb;
  border-radius: 3px;
}
.Docs-Body code {
  display: block;
  padding: 12px;
  margin-bottom: 18px;
  font-size: 14px;
  white-space: pre;
  background-color: #f3f3f3;
  border-radius: 3px;
}
