.Hero-Host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-color: #f4faff;
}
.Hero-Header {
  font-size: 64px;
  font-weight: 500;
}

.Hero-Subheader {
  margin-bottom: 20px;
}

.Hero-Form {
  display: flex;
}

.Hero-FormEmail {
  box-sizing: border-box;
  width: 250px;
  height: 34px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0069a5;
  border-radius: 3px;
}

.Hero-FormSubmit {
  width: 140px;
  height: 34px;
  padding: 8px;
  margin-left: 4px;
  color: white;
  cursor: pointer;
  background: #ff593d;
  border: none;
  border-radius: 3px;
}
